---
import Layout from "../../layouts/LayoutApps.astro";
---

<Layout>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-2xl font-bold">
      Welcome to the Embedded Survey Playground
    </h1>
    <p class="mt-4 text-lg">
      This is a simple application to demonstrate the embedded survey
      functionality.
    </p>
    <p class="mt-2 text-lg">
      Please select an option from the sidebar to get started.
    </p>
    <div class="mt-6">
      <a
        href="/embedded-survey-playground/apps/survey"
        class="text-blue-500 hover:underline">Start Survey</a
      >
    </div>
  </div>
</Layout>
