---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Apps</h1>
  <p>Welcome to the Apps page!</p>
  <footer>
    <p>© 2023 Your Company. All rights reserved.</p>
  </footer>
</Layout>
