---
import Gridbackgroud from "../components/Gridbackgroud.astro";
import Layout from "../layouts/Layout.astro";
import Setup from "../react/components/Setup";
---

<Layout>
  <section>
    <Gridbackgroud />
    <Setup client:load />
  </section>
</Layout>
