---
import { SetupForm } from "@rc-components/SetupForm";
import "../styles/global.css";

let isOpen = true;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script>
      import { isSetupOpen } from "../stores/setup-store";

      document.addEventListener("DOMContentLoaded", () => {
        const base_path = "/embedded-survey-playground";
        console.log("Script loaded and DOMContentLoaded event fired.");
        const sessionItem = sessionStorage.getItem("embeddedsurvey-config");
        console.log("Session storage item:", sessionItem);
        const currentPath = window.location.pathname;
        console.log("Current path:", currentPath);

        if (!sessionItem) {
          if (currentPath.startsWith(`${base_path}/apps`)) {
            console.log("Redirecting to home page...");
            window.location.href = `${base_path}/`;
          }
          isSetupOpen.set(true);
        } else {
          console.log("Session item exists, proceeding with the application.");
        }
      });
    </script>
  </head>
  <body>
    <SetupForm client:load />
    <slot />
  </body>
</html>
