---
import { SidebarProvider, SidebarTrigger } from "@rc-components/Sidebar";
import "../styles/global.css";
import { AppSidebar } from "@rc-components/AppSidebar";
import type { loadRenderers } from "astro:container";
import { Separator } from "@rc-components/Separator";
import { SidebarInset } from "@rc-components/Sidebar";
import Setup from "@rc-components/Setup";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Embedded Survey Playground</title>
    <script>
      import { isSetupOpen } from "../stores/setup-store";

      document.addEventListener("DOMContentLoaded", () => {
        const base_path = "/embedded-survey-playground";
        console.log("Script loaded and DOMContentLoaded event fired.");
        const sessionItem = sessionStorage.getItem("embeddedsurvey-config");
        console.log("Session storage item:", sessionItem);
        const currentPath = window.location.pathname;
        console.log("Current path:", currentPath);

        if (!sessionItem) {
          if (currentPath.startsWith(`${base_path}/apps`)) {
            console.log("Redirecting to home page...");
            window.location.href = `${base_path}/`;
          }
          isSetupOpen.set(true);
        } else {
          console.log("Session item exists, proceeding with the application.");
        }
      });
    </script>
  </head>
  <body>
    <SidebarProvider client:load>
      <AppSidebar client:load />
      <SidebarInset client:load>
        <header
          class="group-has-data-[collapsible=icon]/sidebar-wrapper:h-12 flex h-12 shrink-0 items-center gap-2 border-b transition-[width,height] ease-linear"
        >
          <div class="flex w-full items-center gap-1 px-4 lg:gap-2 lg:px-6">
            <SidebarTrigger className="-ml-1" client:load />
            <Separator
              orientation="vertical"
              className="mx-2 data-[orientation=vertical]:h-4"
            />
            <h1 class="text-base font-medium">Documents</h1>
          </div>
        </header>
        <slot />
        <Setup client:load />
      </SidebarInset>
    </SidebarProvider>
  </body>
</html>
